# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environments
.venv/
venv/
env/
.env

# Odoo
*.log
*.pot
.odoo_module_cached_version

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbbs.db

# Packaging
*.zip
*.tar.gz
dist/
build/
*.egg-info/
